:root{
    --bg: #141d2f;
    --glow-color: hsl(186 100% 69%);
      
}
/* :root{
    --bg: #f6f6f6;
    --text: #f6f6f6;
    --barBg: #388087;
    --btn: #388087;
} */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family:'Courier New', Courier, monospace;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
}
.header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    font-size: 1.25rem;
    font-weight: bold;
}
.control-container{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 1rem;
}
.slider{
    display: flex;
    flex-direction: column;
}
.type-btn{
    cursor: pointer;
    border-radius: 0.45em;
    padding: 0.275rem 0.4rem;
    width: 10rem;
    background: none;
    border: 0.15em solid var(--glow-color);
    color: var(--glow-color);
    outline: none;
    perspective: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    /* box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color); */
    animation: border-flicker 2s linear infinite;
}
.type-btn option{
    background-color: var(--bg);
    color: var(--glow-color);
    font-weight: bold;
}
.body{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bar-container{
    height: 400px;
    display: flex;  
    gap:10px;
    align-items: flex-end;
}
.bar-blue{
    background-color: var(--glow-color);
}
.bar-green{
    background-color: #0fff50;
    box-shadow: inset 0px 0px 0.5em 0px #0fff50,
    0px 0px 0.5em 0px #0fff50;
}
.bar-yellow{
    background-color: #fff01f;
    box-shadow: inset 0px 0px 0.5em 0px #fff01f,
    0px 0px 0.5em 0px #fff01f;
}
.bar-pink{
    background-color: #ff44cc;
    box-shadow: inset 0px 0px 0.5em 0px #ff44cc,
    0px 0px 0.5em 0px #ff44cc;
}

.glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.275rem 0.4rem;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    perspective: 2em;
    font-weight: bold;
    letter-spacing: 1em;
    /* box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color); */
    animation: border-flicker 2s linear infinite;
}
  
.glowing-txt {
    float: left;
    margin-right: -0.8em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}
  
.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}
  
.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}
  
.glowing-btn:hover .glowing-txt {
    animation: none;
}
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}
  
.glowing-btn:hover:after {
    opacity: 1;
}
  
@keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
}
  
@keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
}
  
@keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
}
  
@media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
}
  